@use './global/' as *;
@use './index-folder-styles/' as *;
@use './menu-folder-styles/' as *;
@use './cart-folder-styles/' as *;
@use './payment-folder-styles/' as *;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  //outline: red solid 1px;
}

/*The following line prevents the navbar to obscure the elements.*/
html {
  scroll-padding-top: 67px;
  /* height of sticky navbar */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $ff-body;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
// @media (prefers-reduced-motion: reduce) {
//   html:focus-within {
//    scroll-behavior: auto;
//   }

//   *,
//   *::before,
//   *::after {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }
nav {
  #navbarSupportedContent {
    transition: all 0.2s ease 0s;
  }
}

.navbar {
  background-color: $clr-main-dark;
  @include better-navbar;
}

.navbar-brand {
  @include navbar-logo;
}

.nav-link {
  @include navbar-links;
}

.navbar-nav {
  @include all-center(column);
  @include navbar-deli;
  @include navbar-reserv;

  .shopping-bag {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 30px;
      width: 30px;
    }
  }
}

// HEADER STYLES
.index-header {
  height: fit-content;
  min-height: 100vh;
  background-image: url('../assets/img/albert-YYZU0Lo1uXE-unsplash.jpg');
  @include bg-pic-config(scroll);

  .i-header-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include header-mquery;
  }

  .index-header-title {
    @include index-header-title
  }

  .index-cta {
    @include index-cta;
  }
}

// MAIN STYLES
main {
  .info-bar {
    .icons-info {
      @include icons-info;
      @include i-main-info;
    }

    .info-bar-pic {
      height: 50vh;
      background-image: url('../assets/img/albert-uP8Xnw5XRB0-unsplash.jpg');
      @include bg-pic-config(fixed);
    }
  }

  .quienes-somos {
    height: fit-content;
    min-height: 100vh;

    h1 {
      margin: 20px 0;
      @include i-main-qs-h1
    }

    .quienes-somos-content {
      @include quienes-somos-content;
    }
  }

  .contactanos {
    height: fit-content;
    min-height: 100vh;
    background-image: url('../assets/img/albert-1v72w9EhcWQ-unsplash.jpg');

    @media screen and (max-width: 64em) {
      height: 200vh;
    }

    @include bg-pic-config(fixed);

    .contactanos-bg-filter {
      @include contactanos-bg-filter;
    }
  }
}

footer {
  height: fit-content;
  min-height: 60vh;
  background-color: $clr-main-dark;
  @include footer;
}

// MENU 

.m-title-row {
  @include menu-header;
}

.m-index-row {
  @include m-index-row;
}

.mi-row {
  @include mi-row;
}


// CART

.cart-header {
  @include cart-header
}

.cart-main-container {
  @include cart-main-container;
}

#cmc-menu {
  display: none !important;
  visibility: hidden !important;
}


#container-productos {
  @include container-productos;
}

.product-grid {
  @include product-grid;
}

.lista-de-ingredientes-title {
  color: $clr-main-dark;
}

.vermas-alert-content * {
  color: $clr-main-dark;
}

.alert-carrito-btn {
  background-color: white !important;
  color: $clr-main-dark  !important;
  border: 2px solid $clr-main-dark  !important;
  font-family: $ff-body  !important;
  font-weight: 500 !important;

  &:hover {
    background-color: $clr-main-dark  !important;
    color: white !important;
  }
}

.pay-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  .pay-btn {
    text-transform: uppercase;
    background-color: $clr-main-dark;
    color: white;

    &:hover {
      background-color: white;
      color: $clr-main-dark;
      border-color: $clr-main-dark;
    }
  }
}

.payment-container {
  @include payment-container
}

.thanks {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: $clr-main-dark;
    font-weight: 600;
  }
  p {
    color: $clr-main-dark;
    font-weight: 400;
  }
  #entrega {
    font-size: x-large;
    font-weight: 700;
  }
}

/*  * {
  outline: 1px solid red;
} */