@use './global/' as *;
@use './index-folder-styles/' as *;
@use './menu-folder-styles/' as *;
@use './cart-folder-styles/' as *;
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  //outline: red solid 1px;
}

/*The following line prevents the navbar to obscure the elements.*/
html {
  scroll-padding-top: 67px; /* height of sticky navbar */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $ff-body;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
// @media (prefers-reduced-motion: reduce) {
//   html:focus-within {
//    scroll-behavior: auto;
//   }

//   *,
//   *::before,
//   *::after {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }
nav {
  #navbarSupportedContent {
      transition: all 0.2s ease 0s;
  }
}
.navbar {
  background-color: $clr-main-dark;
  @include better-navbar;
}
.navbar-brand {
  @include navbar-logo;
}
.nav-link {
  @include navbar-links;
}
.navbar-nav {
  @include all-center(column);
  @include navbar-deli;
  @include navbar-reserv;
}

// HEADER STYLES
.index-header {
  height: fit-content;
  min-height: 100vh;
  background-image: url('../assets/img/albert-YYZU0Lo1uXE-unsplash.jpg');
  @include bg-pic-config(scroll);
  .i-header-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include header-mquery;
  }
  .index-header-title {
    @include index-header-title
  }
  .index-cta {
    margin-top: 20px;
    a {
      button {
        background-color: white;
        width: fit-content;
        font-size: x-large;
        text-transform: uppercase;
        font-family: $ff-body;
        font-weight: 700;
        border-radius: 50px;
        color: $clr-main-dark;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.459);
        &:hover {
          background-color: $clr-main-dark;
          color: white;
          border-color: $clr-main-dark;
        }  
      }
    }
  }
}

// MAIN STYLES
main {
  .info-bar {
    .icons-info {
      @include icons-info;
      @include i-main-info;
    }
    .info-bar-pic {
      height: 50vh;
      background-image: url('../assets/img/albert-uP8Xnw5XRB0-unsplash.jpg');
      @include bg-pic-config(fixed);
    }
  }
  .quienes-somos {
    height: fit-content;
    min-height: 100vh;
    h1 {
      margin: 20px 0;
      @include i-main-qs-h1
    }
    .quienes-somos-content {
      @include quienes-somos-content;
    }
  }
  .contactanos {
    height: fit-content;
    min-height: 100vh;
    background-image: url(/assets/img/albert-1v72w9EhcWQ-unsplash.jpg);
    @media screen and (max-width: 64em){
      height: 200vh;
    }
    @include bg-pic-config(fixed);
    .contactanos-bg-filter {
      @include contactanos-bg-filter;
    }
  }
}

footer {
  height: fit-content;
  min-height: 60vh;
  background-color: $clr-main-dark;
  @include footer;
}

// MENU 

.m-title-row {
  @include menu-header;
}

.m-index-row {
  @include m-index-row;
}
.mi-row {
  @include mi-row;
}


// CART

.cart-header {
  @include cart-header
}

.cart-products-title{
  margin-top: 25px;
  h3 {
    font-family: $ff-body;
    color: $clr-main-dark;
    font-weight: 700;
    font-size: large;
    text-transform: uppercase;
  }
}
.cart-table {
  div {
    p {
      text-align: start;
      text-transform: uppercase;
      color: $clr-main-dark;
      font-family: $ff-body;
      font-weight: 600;
    }   
  }
}
.cart-container {
  margin: 25px 10px 10px 10px;
  .cart-row {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    .cart-img {
      img {
        height: 75px;
        width: 110px;
        border-radius: 5px;
      }
    }
    .cart-name {
      font-family: $ff-body;
      color: $clr-main-dark;
      font-weight: 600;
      text-transform: uppercase;
      text-align: start;
    } 
    .cart-price, .cart-quant {
      font-family: $ff-body;
      color: $clr-main-dark;
      font-weight: 600;
      text-transform: uppercase;
      text-align: start;
    }
    .cart-delete {
      display: flex;
      justify-content: center;
      .cart-delete-btn {
        background-color: $clr-main-dark;
        color: white;
        font-family: $ff-body;
        font-weight: 600;
        text-transform: uppercase;
        border: 2px solid $clr-main-dark;
        &:hover {
          background-color:white;
          color:  $clr-main-dark;
          border: 2px solid $clr-main-dark;
        }
      }
    }
    .cart-hr {
      margin-top: 5px;
      height: 0.1px;
      background-color: rgb(151, 151, 151);
    }
  }
}





* {
  //outline: 1px solid red;
}