@use '../global/' as *;

@mixin cart-main-container {
    .cpt-md-container {
        margin-top: 25px;
        visibility: hidden;
        height: 0px;
        @media screen and (max-width: 64em){
            margin-top: 25px;
            display: contents;
            visibility: visible;
            height: fit-content;
    }
    .cart-products-title-md {
        h3 {
        margin-top: 25px;
        font-family: $ff-body;
        color: $clr-main-dark;
        font-weight: 700;
        font-size: large;
        text-transform: uppercase;
        }
    }
    
    }
    .cart-products-title{
    h3 {
        font-family: $ff-body;
        color: $clr-main-dark;
        font-weight: 700;
        font-size: large;
        text-transform: uppercase;
    }
    }
    .cart-table {
    div {
        p {
        text-align: start;
        text-transform: uppercase;
        color: $clr-main-dark;
        font-family: $ff-body;
        font-weight: 600;
        }   
    }
    @media screen and (max-width: 64em) {
        display: none;
        visibility: hidden;
        height: 0px;
    }
    }
    .cart-container {
    margin: 25px 10px 10px 10px;
    .cart-row {
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        @media screen and (max-width: 64em) {
        height: fit-content;
        }
        .cart-img {
        img {
            height: 75px;
            width: 110px;
            border-radius: 5px;
        }
        }
        .cart-name {
        font-family: $ff-body;
        color: $clr-main-dark;
        font-weight: 600;
        text-transform: uppercase;
        text-align: start;
        @media screen and (max-width: 64em) {
            margin-top: 15px;
        }
        } 
        .cart-price, .cart-quant {
        font-family: $ff-body;
        color: $clr-main-dark;
        font-weight: 600;
        text-transform: uppercase;
        text-align: start;
        }
        .cart-delete {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 64em) {
            margin-top: 15px;
            justify-content: flex-start;
        }
        .cart-delete-btn {
            background-color: $clr-main-dark;
            color: white;
            font-family: $ff-body;
            font-weight: 600;
            text-transform: uppercase;
            border: 2px solid $clr-main-dark;
            &:hover {
            background-color:white;
            color:  $clr-main-dark;
            border: 2px solid $clr-main-dark;
            }
        }
        }
        .cart-hr {
        margin-top: 5px;
        height: 0.1px;
        background-color: rgb(151, 151, 151);
        }
    }
    .total-carrito {
        display: flex;
        justify-content: end;
        .total {
        font-family: $ff-body;
        color: $clr-main-dark;
        font-weight: 600;
        text-transform: uppercase;
        text-align: start;
        } 
    }
    }
    #totalAllContainer {
    .total {
        font-family: $ff-body;
        color: $clr-main-dark;
        font-weight: 600;
        text-transform: uppercase;
        text-align: start;
    }
    }
}