@use '../global/' as *;

@mixin footer {
    .footer-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        h1 {
            color: white !important;
            font-family: $ff-logo  !important;
            font-style: normal !important;
            font-weight: 400 !important;
            font-size: 36px !important;
            text-transform: uppercase !important;
        }
    }

    .footer-navbar {
        @include all-center(column);

        .footer-links {
            @include all-center(column);

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-family: $ff-body;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 50px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .footer-navbar-buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .a-delivery-footer {
                .btn-delivery-footer {
                    background-color: rgba(255, 255, 255, 0);
                    height: 50px;
                    width: 175px;
                    font-size: 20px;
                    color: white;
                    font-family: $ff-body;
                    font-weight: 700;
                    border-radius: 50px;
                    border: 3px solid white;
                    text-transform: uppercase;
                    float: right;
                    margin-bottom: 20px;
                    margin-top: 20px;

                    &:hover {
                        text-decoration: none !important;
                        background-color: white !important;
                        color: $clr-main-dark  !important;
                    }
                }
            }

            .a-reserva-footer {
                list-style: none;

                .btn-reserva-footer {
                    background-color: rgb(255, 255, 255);
                    height: 50px;
                    width: 240px;
                    font-size: 20px;
                    color: $clr-main-dark;
                    font-family: $ff-body;
                    font-weight: 700;
                    border-radius: 50px;
                    border: 3px solid white;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: none !important;
                        background-color: $clr-main-dark  !important;
                        color: white !important;
                    }
                }
            }
        }

        p {
            margin-top: 20px;
            font-family: $ff-body;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 29px;
            text-align: center;
            text-transform: uppercase;
            color: white;
        }
    }
}