@use './colors' as *;
@use './fonts' as *;


// PRE-DESIGNED STYLES

// MIXIN LOGO
@mixin navbar-logo {
    color: white !important;
    font-family: $ff-logo !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 28px !important;
    text-transform: uppercase !important;
    margin-left: 15px !important;
}

// NAVBAR LINKS
@mixin navbar-links {
    color: white !important;
    font-family: $ff-body !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    text-transform: uppercase !important;
    border: 2px solid rgba(255, 255, 255, 0) !important;
    margin-left: 20px !important;
    &:hover {
        text-decoration: underline !important;
    }
    @media screen and (max-width: 62em){
        margin-left: 0 !important;
        margin-top: 20px !important;
      }
}

// NAVBAR BUTTONS
@mixin navbar-deli {
    .nav-item {
        @media screen and (max-width: 62em){
            width: 50%;
        }
        .btn-delivery {
            font-family: $ff-body !important;
            font-weight: 800 !important;
            font-size: 18px !important;
            text-transform: uppercase !important;
            border: 2px solid white !important;
            border-radius: 50px !important;
            margin-left: 36px !important;
            &:hover {
                text-decoration: none !important;
                background-color: white !important;
                color: $clr-main-dark !important;
            }
            @media screen and (max-width: 62em){
                margin-left: 0 !important;
                margin-top: 20px !important;
            }
        }
    }
}

@mixin navbar-reserv {
    .nav-item {
        @media screen and (max-width: 62em){
            width: 50%;
        }
        .btn-reserva {
            font-family: $ff-body !important;
            font-weight: 800 !important;
            font-size: 18px !important;
            text-transform: uppercase !important;
            border: 2px solid white !important;
            border-radius: 50px !important;
            background-color: white !important;
            color: $clr-main-dark !important;
            margin-left: 36px !important;
            &:hover {
                text-decoration: none !important;
                background-color: $clr-main-dark !important;
                color: white !important;
            }
            @media screen and (max-width: 62em){
                margin-left: 0 !important;
                margin-top: 20px !important;
            }
        }
    }
}

// BETTER NAVBAR TOGGLER
@mixin better-navbar {
    .navbar-toggler {
        width: 20px;
        height: 20px;
        position: relative;
        transition: .5s ease-in-out;
        border: 0 !important;
    }
      
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none !important;
        box-shadow: none !important;
        border: 0 !important;
    }
    
    .navbar-toggler span {
    margin: 0;
    padding: 0;
    }
    
    .toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $clr-warning;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    }
    
    .middle-bar {
    margin-top: 0px;
    }
    
    
    /* State when the navbar is collapsed */
    
    .navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
    }
    
    .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
    }
    
    .navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
    }
    
    /* when navigation is clicked */
    
    .navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
    }
    
    .navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
    }
    
    .navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
    }
    
    /* Color of 3 lines */
    
    .navbar-toggler.collapsed .toggler-icon {
    background-color: $clr-bg-content;
    }
}