@use '../global/' as *;



@mixin menu-header {
    .m-title-row {
        height: fit-content;
        min-height: 30vh;
        padding-top: 65px;
        .nm-title-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          .title-icon-container {
            width: fit-content;
            padding-top: 15px;
            h1 {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 800;
              font-size: 48px;
              line-height: 59px;
              color: $clr-main-font;
              text-transform: uppercase;
            }
            .menu-title-icons {
              display: flex;
              justify-content: space-between;
              img {
                height: 25px;
              }
            }
          }
        }
      }
      .m-indice-row {
        height: fit-content;
        min-height: 70vh;
        margin: 0 10px 20px 10px;
        background-color: $clr-bg-content;
        .nm-indice-container {
          h1 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 59px;
            text-transform: uppercase;
            color: $clr-main-font;
          }
        }
        .indice-col {
          display: flex;
          flex-direction: column;
          align-items: center;
          h5 {
            text-transform: uppercase;
          }
          ul {
            list-style: none;
            margin: 0px;
              padding: 0px;
            li {
              text-align: center;
              a {
                text-decoration: none;
                color: $clr-main-dark;
                text-decoration: underline;
              }
            }
          }
        }
    }
}

.item-menu-row {
    height: 100vh;
}